<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>유저 목록</title>
    <link rel="stylesheet" href="/static/css/index.css" />
  </head>
  <body>
    <h1>유저 목록</h1>

    <form id="userForm">
      <input type="text" id="username" placeholder="유저명 입력" required />
      <input
        type="password"
        id="password"
        placeholder="비밀번호 입력"
        required
      />
      <button type="submit">회원가입</button>
    </form>
    <a href="/login"> 로그인하기 </a>
    <!-- <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>유저명</th>
          <th>비밀번호</th>
          <th>수정</th>
          <th>삭제</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user => { %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.username %></td>
          <td><%= user.password %></td>
          <td><button onclick="editUser(`<%= user.id %>`)">수정</button></td>
          <td><button onclick="deleteUser(`<%= user.id %>`)">삭제</button></td>
        </tr>
        <% }); %>
      </tbody>
    </table> -->

    <script src="/static/js/index.js"></script>
  </body>
</html>
